html {
  height: 100%;
  width: 100%;
    margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 95%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 3em;
  margin: 0 0 0.75em 0;
  padding: 0;
  background-color: #afceff;
  color: white;
}

header h1 {
  margin: 0;
  padding: 0.25em;
  font-size: 1.25em;
  text-align: center;
}

navigation {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

navigation ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 1em;
  margin: 0;
}
a {
    text-decoration: none;
    color: #44a5ff;
    font-size: 1.5em;

}
navigation ul li {
  display: inline;
  margin-right: 1em;
}

#content {
  width: 100%;
  min-height: 80%;
  padding: 0 30px;
}

footer {
  width: 100%;
  height: 1.5em;
  margin: 0 0 0.75em 0;
  padding: 0.75em 1.5em;
  background-color: #afceff;
  color: white;
}

/* Actions */

.actions {
  margin-bottom: 1em;
}


/* Lists */

table {
  border-collapse: collapse;
  vertical-align: top;
}

table.list {
  width: 100%;
}

table.list tr td {
  border: 1px solid #999999;
}

table.list tr th {
  border: 1px solid #afceff;
  background: #afceff;
  color: white;
  text-align: left;
}

/* Forms */

dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: bold;
  width: 125px;
}

dd {
  float: left;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

/* Errors */

.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}
